 

/*--------------------FOR PIXEL DEVICES------------------------*/

@media (max-width: 991.98px) {
	.navbar {

		padding-top: 4px;
		padding-bottom: 6px;

	} 

	.navbar-nav > li{
		padding-left:0px !important;
	}


	.navbar-nav > li a{
		font-size: 12px;
	}

	.cart_btn,.login_btn{

		margin: 0 auto;
		margin-top: 10px;
	}

	#store_logo{
		height: 50px;
	}

	.popular_img{
		right:0;
		display: block;
		margin-left: auto;
		height: 270px;
		width: 430px !important;
		object-fit: cover;
		border-radius: 8px;

	}


	#our_clients_div1{

		padding: 10px 10px 10px 10px;
		background-color: #f5f6f8;
	}


	#carousel .carousel-item {

		height: 80vh;

	}


	.popular_offer_name1{

		font-size: 24px;
		line-height: 20px;
		top: 50%;
		left: 10%;
	}

	.popular_offer_price{
		font-size: 26px;
		top: 76%;
		left: 10%;
	}


	.popular_offer_name3{
		font-size: 24px;
		line-height: 20px;
		top: 20%;
		left: 10%;
	}

	.popular_offer_p{

		font-size: 14px !important;
		line-height: 14px;
		top: 60%;
		left: 10%;

	}

	.popular_product_name5{

		font-size: 24px;
		line-height: 20px;
		top: 56%;
		left: 55%;
		transform: translate(-50%, -50%);
	}

	.popular_offer_price2{

		font-size: 26px;
		top: 84%;
		left: 50%;
		transform: translate(-50%, -50%);

	}


	#our_clients_div1{

		height: auto !important;
	}

	#our_clients_div2{

		height: auto !important;
	}


	#new_arrivals h1{

		font-size: 40px;
		text-align: center;
	}

	#our_clients_div1 h3{

		font-size: 30px;
	}

	.our_clients{

		padding-left: 40px;
		padding-right: 40px;
	}

	.offer_main{

		padding-left: 40px;
		padding-right: 40px;
	}

	.popular_img{

		width: 360px !important;
		height: 160px !important
	}

	#new_arrivals{
		padding-left: 20px;
		padding-right: 20px;
	}


	/*----------------------------------PILLS--------------------------------------*/
	.nav-pills .nav-link{
		padding-bottom: 5px !important;
		border-bottom: 3px solid #ffffff;
	}	

	.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
		background-color: #ffffff!important;
		color: black;
		margin-bottom: 0;
		padding-bottom: 5px !important;
		border-bottom: 3px solid #fbd100;
		transition: 0.5s;
		border-radius: 0px;
	}


	.nav-pills li a{
		color: #000;
		font-size: 12px;
		font-weight: 500;
	}


	.popular_add_to_cart_2,.popular_add_to_cart_2:focus{

		top: 85%;
		left: 25%;
	}

	#popular_products h1{
		font-size: 40px !important;
		text-align: center;
	}


	#popular_items .col-md-4{

		width: 380px;
		margin: 0 auto;
	}




	/*-----------------------FOOTER RESPONSIVE----------------------------------*/
	#reasons_to_shop h1{
		font-size: 40px !important;
		text-align: center !important;
	}

	#three_reasons h4{
		text-align: center !important;

	}

	#three_reasons p{

		font-size:16px; 
		text-align: center !important;
	}

	#three_reasons{

		padding-left: 60px;
		padding-right: 60px;
	}

	.reason_img{

		width: 50px;
	}





}