@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3) 
and (orientation: landscape) {

}










img{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	transition: 0.5s;
}


h1{
	font-family: 'Ramaraja', serif !important;
}


h2{
	font-family: 'Ramaraja', serif !important;
}


h3{
	font-family: 'Ramaraja', serif !important;
}


h4{

	font-family: 'Ramaraja', serif !important;
}


.nav-item .active a{
	background-color: red;
}

.container{

	width: 100%;
	max-width: 1700px;
	margin:0 auto;
}

.container2{

	width: 100%;
	max-width: 1370px;
	margin:0 auto;
}


/*--------------------------NAVBAR CSS--------------------------------*/

.navbar{
	padding: 0;
	padding-top: 10px;
	padding-bottom: 14px;
	z-index: 10000;
}



.navbar-nav > li{
	padding-left:40px;
}

.navbar-nav > li a{
	color: #262626 !important;
	font-weight: 500 !important;
}

.navbar input{
	border:none;
	background-color: #f5f5f6 !important;
	width: 350px !important;
	height: 40px !important;
	margin: 0 auto !important;
	margin-right: 18px !important;
	padding-left: 30px;

}


.navbar input:hover{
	width: 400px !important;
	transition: 1s;
}

.navbar input:focus{
	width: 400px !important;
	transition: 1s;
}



.cart_btn{
	border: 2px solid #fbd100;
	background-color: #fffae5;
	border-radius: 8px;
	color: #262626;
	font-weight: 500;
	width: 120px;
	height: 42px;
	margin-right: 18px;
}

.cart_btn:hover{

	background-color: #feba01;
	transition: 0.5s;

}


.login_btn{
    border:none;
	width: 180px;
	height: 42px;
	border-radius: 8px;
	background-color: #fbd100;
	font-weight: 700;
}

/*-------------------------IMPPORTANT-----------------------*/

.mydropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-weight: 500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.mydropdown:hover .dropdown-content {display: block;
   border-bottom: 2px solid #fbd100; 
   border-left: 2px solid #fbd100; 
   border-right: 2px solid #fbd100; 
   border-radius: 0px 0px 8px 8px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.mydropdown:hover .login_btn {background-color: #ffffff;
   border-top: 2px solid #fbd100; 
   border-left: 2px solid #fbd100; 
   border-right: 2px solid #fbd100; 
   border-radius: 8px 8px 0px 0px;
}
/*----------------------------------------------------------*/

.search_icon_btn{
	border:none;
	background-color: #f5f5f6 !important;
}







/*.navbar{

	padding: 0;
}


.navbar .navbar-nav{
	right:50px;
}



#search_btn{

	background-color: #fbd100;
	border: none;
	color: #000000;
}

#search_btn:hover{

	background-color: #000000;
	border: none;
	color: #fbd100;
	transition: 0.5s;
	}*/






	/*-----------------------------HEADER CSS--------------------------*/
	#header_area{
		width: 100%;
	}

	#header_area {
		padding: 24px 15px;
		display: inline-block;
	}


	#header_area .col-md-5 a{
		margin-right: 100px;
	}


/*#header_area .col-md-5 button{
	border:none;
	border-radius: 10px;
	background-color: #f5f5f6;
	margin-right: -14px;
	height:42px;
}
*/


#header_area .col-md-5 input{
	background-color: #f5f5f6;
	border:none;
	padding: 10px 18px;
	width: 300px;
	border-radius: 10px;
}




#main_menu{

}

#main_menu ul#nav{
	
	margin:0; 
	padding:0;
	list-style: none;
	text-align: right;
}

#main_menu ul#nav li{

	display: inline-block;
	margin-left: 5px;
}


#main_menu ul#nav li a{

	
	color: #323637;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 15px;

}

#main_menu ul#nav li a:hover{

	background-color: #fbd100;
	color: #323637;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 15px;
	transition: 0.5s;
	border-radius: 20px;

}



#main_cart_btn{
	width: 116px;
	height: 40px;
	border:none;
	border-radius: 10px;
	background-color: #f5f5f6;
}




#main_cart_btn:hover{

	width: 116px;
	height: 40px;
	border:none;
	border-radius: 10px;
	transition: 0.5s;
	background-color: #fadc9b;
}







/*------------------------FOOTER CSS-----------------------------*/

#footer_area{
	width: 100%

}

#footer_area{
	padding-top: 80px;
	padding-bottom: 80px;
}



#left_part_footer p{

	padding-top: 54px;
	padding-right: 100px;
	font-size: 15px;
	color: #585858;
}





#footer_area .col-md-2 ul{
	margin:0; 
	padding:0;
	list-style: none;
	
}

#footer_area .col-md-2 li{

	margin-top: 30px;

}


#footer_area .col-md-2 a{

	
	color: #323637;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;


}

#social_media{

	padding-top: 30px;
}

#button_group_social{

	padding-top: 32px;
}


#button_group_social button{

	width: 54px;
	height: 54px;
	border:none;
	margin-right: 12px;
	background-color: #fbd100;
	border-radius: 50%;
}

#button_group_social button:hover{

	width: 54px;
	height: 54px;
	border:none;
	margin-right: 12px;
	background-color: #ffffff;
	border-radius: 50%;
}




/*------------------------REASONS TO SHOP CSS-----------------------*/


#reasons_to_shop{
	width: 100%;
	padding-top: 134px;
	padding-bottom: 200px;
}

#reasons_to_shop .col-md-12 h1{

	font-size: 57px;
	font-weight: 500 !important;	
}

#the_handle_store{

	color: #fbd100;
}


#three_reasons{
	padding-top: 14px;
}


#great_offers{

	padding-left: 22px;
	padding-right: 22px;

}

#free_shipping{
	padding-left: 22px;
	padding-right: 22px;

}

#safest_online_store{
	padding-left: 22px;
	padding-right: 22px;

}


#three_reasons h4{
	text-align: left !important;

}

#three_reasons p{

	font-size:16px; 
	text-align: left !important;
}



/*---------------------NEWSLETTER CSS--------------------*/



#newsletter{

	width: 100%;


}

.newsletter_btn{

	border: none;
	height: 50px;

	padding: 0px 20px 0px 20px;
	border-radius: 10px;
	color: #ffffff;
	background-color: #000000;

}





#newsletter_main{
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 40px;
	padding-bottom: 50px;
	background-color: #fbd100;
	border-radius: 6px 0px 0px 6px;
	margin-right: -10px;
}

#newsletter_main h1{

	font-size: 57px;
	font-weight:700;
}

#newsletter_main p{
	
	padding-top: 1vh;
	line-height: 18px;
	margin-top: -20px;
}

#newsletter_main input{

	width: 100%;
	max-width: 450px;
	height: 50px;
	/*   max-height: 80px;*/
	background-color: #fdefac;
	border:none;
	border-radius: 6px;

}

/*#newsletter_main input:hover{
    margin-top: 1vh;
	width: 140%;
	padding: 10px;
	background-color: #ffffff;
	border:none;
	border-radius: 6px;
	transition: 1s;

}
*/


#newsletter_image{
	margin-left: -5px;
}



#commentDiv{
	display:flex;
	flex-direction:row;
	outline: none;
	padding-top: 10px;
}


.commentfix{
	flex-grow:2;

	border:none;
	outline: none;
}

.commentfix:focus {

	outline: none;
}

#commentDiv button{

	background-color: #fdefac;
	border:none;
	height: 50px;
	/*max-height: 80px;*/
	border-radius: 6px;
	margin-left: -10px;
	width: 80px;
}


/*---------------------CLEARANCE SALE CSS---------------------------*/

#sale_one{
	background:url('../background/sale_1.png'); 
	background-repeat:no-repeat;
	background-size: cover; 
	background-position:center center;
	border-radius: 6px;
	padding: 0;
	/*padding: 186px 450px 84px 46px;*/
}

#sale_one_div{
	padding: 186px 20px 84px 46px;
}

#sale_one_div h1{

	font-size: 57px;
	font-weight:700;
	color: #ffffff;

}

.sale{
	margin-top: -20px;
}


#sale_one_div p{

	font-size: 15pt;
	/*font-weight:700;*/
	color: #ffffff;

}


#sale_one_div button{

	border:none;
	background-color: #b8becb;
	border-radius: 6px;
	width: 238px;
	height: 48px;
	margin-top: 70px;
}



#sale_one_div button:hover{

	border:none;
	background-color: #ffffff;
	border-radius: 6px;
	width: 238px;
	height: 48px;
	margin-top: 70px;
}


#sale_two{
	background:url('../background/sale_2.png'); 
	background-repeat:no-repeat;
	background-size: cover; 
	background-position:center center;
	border-radius: 6px;
	padding: 0;
	/*padding: 186px 450px 84px 46px;*/
}

#sale_two_div{

	padding: 46px 126px 96px 46px;
}

#sale_two_div h1{

	font-size: 57px;
	font-weight:700;
	color: #ffffff;

}

#sale_two_div p{

	font-size: 15pt;
	/*font-weight:700;*/
	color: #ffffff;

}


#sale_three{
	background:url('../background/sale_2.png'); 
	background-repeat:no-repeat;
	background-size: cover; 
	background-position:center center;
	border-radius: 6px;
	padding: 0;
}

#sale_three_div{

	padding: 82px 156px 92px 50px;
}

#sale_three_div h1{

	font-size: 57px;
	font-weight:700;
	color: #ffffff;

}

#sale_three_gap{
	padding-top: 20px;
}




/*-------------------------NEW ARRIVAL CSS------------------------*/


#new_arrivals{

	padding: 126px 0px 100px 0px;
}



#new_arrivals ul{

	margin:0; 
	padding:0;
	list-style: none;
}


#new_arrivals  li{

	display: inline-block;
}

#new_arrivals h1{

	font-size: 68px;
	font-weight:500;
	color: #323637;
	text-shadow:1px 1px 2px #000;


}


#new_arrivals_nav{

	padding: 24px 0px 28px 0px;

}


#new_arrivals_nav li{
	margin-right: 54px;
	padding-top: 12px; 
}


.slide_buttons{

	width: 50px;
	height:50px;
	border:none;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #d8d4d4;
}

.slide_buttons:hover{

	width: 50px;
	height:50px;
	border:none;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #fadc9b;
}

#new_arrivals_nav a{
	color: inherit;
	text-decoration: none;
	padding-bottom: 20px;
}


#new_arrivals_nav .col-md-10 a:hover{
	color: inherit;
	text-decoration: none;
	padding-bottom: 20px;
	border-bottom: 2px solid #fbd100;
	transition: 0.5s;
}




#new_arrival_items .col-md-3{

	padding: 10px 0px 0px 0px; 


}

.product_img{
	
	display: block;
	margin-left: auto;
	margin-right: auto;

	height: 380px;
	max-width: 236px;
	object-fit: cover;
	border-radius: 8px;

}




.add_to_cart{

	margin-top: 12px;
	width: 236px;
	height: 48px;
	border: none;
	background-color: #fbd100;
	border-radius: 8px;
}

.add_to_cart:hover{

	margin-top: 12px;
	width: 236px;
	height: 48px;
	border: 1px solid #fbd100;
	background-color: #000000;
	color: #fbd100;
	border-radius: 8px;
}


.container3{
	position: relative;
	text-align: center;
	max-width: 380px;
	margin: 0 auto;
}


.container3 p{
	font-size: 20px;
	line-height: 18px;
	color: #ffffff;
	text-shadow:4px 4px 5px #000;
}

.arrival_product_text1{
	position: absolute;
	top: 72%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.arrival_product_text2{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.container3 hr{

	border:1px solid #e8e9ea;
	width:234px;
	position: absolute;
	top: 84%;
	left: 50%;
	transform: translate(-50%, -50%);

}



.color_pallets{
	position: absolute;
	top: 94%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.color_pallets button{
	border:none;
	width: 20px;
	height: 20px;
	margin-right: 12px;
	border-radius: 50%;
}


.btn_yellow{

	background-color: #fadc9b;

}

.btn_black{
	background-color: #292929;
}

.btn_grey{
	background-color: #d8d4d4;
}


.btn_peach{
	background-color: #f5c79f;

}

.btn_brown{
	background-color: #dc9d68;

}


/*---------------------------Popular Products-------------------------*/


#popular_products{
	padding: 0px 0px 174px 0px;
	width: 100%;
}

#popular_products ul{

	margin:0; 
	padding:0;
	list-style: none;
}


#popular_products  li{

	display: inline-block;
}

#popular_products h1{

	font-size: 68px;
	font-weight:500;
	color: #323637;
	text-shadow:1px 1px 2px #000;


}




#popular_items{
	padding-top: 20px !important;
}

#popular_items .col-md-4{
	margin: 0 auto;
	padding:0;
	margin-top: 10px !important;
	max-width: 450px;
	background-color: #fffae5;
	border-radius: 10px;
    box-shadow: 0px 1px 14px 0px rgba(225,231,247,1);
	
}


#popular_container{
	position: relative;
	text-align: center;
}


.popular_product_name{
	color: #332323;
	position: absolute;
	top: 40px;
	left: 40px;


}

.popular_product_price{
	color: #b59c54;
	position: absolute;
	top: 80px;
	left: 40px;


}

.color_pallets2{
	position: absolute;
	top: 160px;
	left: 40px;
}


.popular_add_to_cart{
	color:#000;
	font-weight:700;
	padding: 10px;
	position: absolute;
	top: 200px;
	left: 40px;
	width: 236px;
	height: 48px;
	border: none;
	background-color: #fbd100;
	border-radius: 8px;
	text-align: center;
}

.popular_add_to_cart:hover{
	text-decoration: none;
	position: absolute;
	top: 200px;
	left: 40px;
	width: 236px;
	height: 48px;
	border: 1px solid #fbd100;
	background-color: #653703;
	color: #fbd100!important;
	border-radius: 8px;
}


.popular_add_to_cart_2 {
	color: #000;
	font-weight: 700;
	padding: 10px;
	position: absolute;
	top: 320px;
	left: 40px;
	width: 180px;
	height: 45px;
	border: none;
	background-color: #fbd100;
	border-radius: 8px;
	text-align: center;
}
.popular_add_to_cart_2:hover{
	text-decoration: none;
	position: absolute;
	top: 320px;
	left: 40px;
	width: 180px;
	height: 45px;
	border: 1px solid #fbd100;
	background-color: #653703;
	color: #fbd100!important;
	border-radius: 8px;
}
.popular_img{
	/*  right:0;*/
	display: block;
	margin: 0 auto;
	height: 270px;
	max-width: 456px;
	object-fit: cover;
	border-radius: 8px;

}


.popular_img2{
	/*  right:0;*/
	display: block;
    float: right;
    position: relative;
	margin: 0 auto;
	height: 270px;
	max-width: 456px;
	object-fit: cover;
	border-radius: 0px 10px 10px 0px;

}


.popular_container {
	background-color: #fffae5!important;
	border-radius: 10px;
}

.color_pallets2 button{
	border:none;
	width: 20px;
	height: 20px;
	margin-right: 12px;
	border-radius: 50%;
}





/*-------------------------PRODUCT LIST PAGE CSS----------------------*/


/*-------------------------MAIN DOOR AREA CSS-------------------------*/

#main_door{
	width: 100%;
	padding-top: 34px;
	padding-bottom: 40px;
}

#filters a{

	text-decoration: none;
	color:inherit;
}

#filters h1{
	font-size: 57px;
	font-weight: 800;
}

#filters .col-md-7 hr{
	border: 2px solid #fbd100;
	position: relative;
}


#filters .col-md-7{
	padding-top: 34px;
	padding-left: 0px;
}

#filters_main{
	padding-top: 54px;
}

#filters_main .col-md-3 h3{
	font-weight: 700;
}

.reset{

	color: #bb2828;
	margin-top: 8px;
}

#filters_main .col-md-6{
	padding-right: 40px;
}


#filters_main select{
	border:none;
	width: 298px;
	height: 40px;
	background-color: #f5f6f8;
	border-radius: 8px;
	padding-left: 20px;
}

#filters_main select:hover{
	border:none;
	width: 298px;
	height: 40px;
	background-color: #fad725;
	border-radius: 8px;
	padding-left: 20px;
	transition: 1s;
}



#nav_buttons{              /* PREV PAGE --- NEXT PAGE  */
	float: right;
}

.product_navigation{

	border:none;
	background-color: #ffffff;
	color: #323637;
}




#view_the_product{
	padding-top: 40px;
	padding-bottom: 44px;
	padding-right: 46px;
	padding-left: 46px;

}



#select_material{

	padding: 16px 20px 16px 20px;
	border:2px solid #d8d4d4;
	border-radius: 6px;
}

#select_finish{

	padding: 16px 20px 16px 20px;
	border:2px solid #d8d4d4;
	border-radius: 6px;
	margin-top: 20px;
}

#select_size{

	padding: 16px 20px 16px 20px;
	border:2px solid #d8d4d4;
	border-radius: 6px;
	margin-top: 20px;
}


#price_range{

	padding: 16px 20px 16px 20px;
	border:2px solid #d8d4d4;
	border-radius: 6px;
	margin-top: 20px;
}



#offer_div{
	position: relative;
	margin-top: 20px;
	
}


#offer_img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
	height: 380px;
	max-width: 230px;
	object-fit: cover;
	border-radius: 8px;
}


#offer_div h1{
	font-size: 26px;
	font-weight: 500;
	position: absolute;
	top: 32px;
	left: 26px;
}


#offer_div h2{
	font-size: 26px;
	font-weight: 500;
	color: #419ac4;
	position: absolute;
	top: 60px;
	left: 26px;
}

#offer_div p{
	position: absolute;
	top:290px;
	left: 26px;
	padding-right: 80px;
}


.product_display{
	padding-top: 40px;
}

.product_display .col-md-3{

	margin-top: 20px;
}



.overlayinn {
	background-color: rgba(250,215,37,0.7);
	height: 100%;
	width: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 40px;
	transition: opacity .5s;
}


.overlayinn:hover {
	opacity: 1;
	transition: opacity 1s;
}


.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 4px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}


.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #fbd100;
	cursor: pointer;
}


.row2{
	margin-top: 40px;
}

.row3{
	margin-top: 40px;
}

.row4{
	margin-top: 40px;
}

.pagination_area{

	padding-top: 42px;
}

.pagination_area hr{

	border: 2px solid #fbd100;
	position: relative;
}

.pagination_btn_group{
	float: right;
}

.pagination_btn{

	border:none;
	background-color: #e5e7e9;
	margin-left: 14px;
	width:40px; 
	height:40px;
	border-radius: 6px;
}


.pagination_btn:hover{

	border:none;
	background-color: #fbd100;
	margin-left: 14px;
	width:40px; 
	height:40px;
	border-radius: 6px;
	transition: 1s;
}


.pagination_prev{

	border:none;
	background-color: #ffffff;
	margin-left: 14px;
}

.pagination_next{

	border:none;
	background-color: #ffffff;
	margin-left: 14px;
}




/*---------------------------PRODUCT_DISPLAY PAGE CSS------------------------*/


.product_showcase{

	padding: 106px 0px 96px 0px;
	background-color: #f5f6f8;
}


.display_img{

	display: block;
	margin-left: auto;
	margin-right: auto;

	height: 648px;
	max-width: 682px;
	object-fit: cover;
	border-radius: 8px;

}



.similar_products{

	padding: 140px 0px 110px 0px;
}

.similar_products h1{

	font-size: 57px;
	font-weight: 800;
}

.similar_products_display{

	padding-top: 56px;
}


.color_pallets_similar_products button{
	border:none;
	width: 20px;
	height: 20px;
	margin-right: 12px;
	border-radius: 50%;
}



#product_details h1{
	font-size: 48px;
	color: #323637;
	font-weight: 700;
}

.product_display_toggle{
	float:right;

}

.prev_product{

	border:none;
	background-color: #f5f6f8;
	font-weight: 600;
}

.next_product{

	border:none;
	background-color: #f5f6f8;
	font-weight: 600;
	margin-left: 28px;
}

.code{
	color: #727272;
}

.price{

	font-size: 30px;
	font-weight: 700;
	color: #343434;
}

.offer{
	font-size :14px;
	color: #019c43;
}



.select_material_radio input{
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.select_material_p{
	background-color: #f5f6f8;
	font-weight: 600;

}

.select_finish_p{

	margin-top: 30px;
	background-color: #f5f6f8;
	font-weight: 600;
}

.select_size_p{
	background-color: #f5f6f8;
	font-weight: 600;
}


.select_size_btn button{
	border:none;
	background-color: #e7e9ee;
	width: 78px;
	height: 42px;
	border-radius: 6px;
	margin-right: 14px;
}

.select_size_btn button:hover{
	border:none;
	background-color: #fbd100;
	width: 78px;
	height: 42px;
	border-radius: 6px;
	margin-right: 14px;
}

.bottom_size_buttons{
	margin-top: 12px;
}

.bottom_size_buttons button{
	border:none;
	background-color: #e7e9ee;
	width: 78px;
	height: 42px;
	border-radius: 6px;
	margin-right: 14px;
}

.bottom_size_buttons button:hover{
	border:none;
	background-color: #fbd100;
	width: 78px;
	height: 42px;
	border-radius: 6px;
	margin-right: 14px;
}

.delivery_option{
	margin-top: 30px;
}

.delivery_p{
	background-color: #f5f6f8;
	font-weight: 600;
}

.delivery_option input{

	padding-left: 20px;
	width: 200px;
	border:none;
	border-radius: 6px;
	width: 244px;
	height: 46px;
}

.delivery_option button{
	border:none;
	background-color: #ffffff;
	width: 80px;
	height: 46px;
}

.final_add_cart{
	background-color: #fbd100;
	border:none;
	border-radius: 6px;
	width: 320px;
	height: 68px;
	
}

.top_div{

	z-index: 0;
	position: relative;
}

.bottom_div{

	z-index: 1;
	position:relative;

}

.bottom_div ul{

	margin:0; 
	padding:0;
	list-style: none;
}

.bottom_div ul li{
	display: inline-block;
	margin-right: 98px;
}

#add_banner{
	display: block;
	margin-left: auto;
	margin-right: auto;

	height: 266px;
	max-width: 442px;
	object-fit: cover;
	border-radius: 8px;
}

.bottom_div h6{

	font-size: 15px;
	color: #262626;
	font-weight: bold;
}



/*---------------------------CONTACT FORM PAGE-----------------------------------*/

.contact-form {
	padding: 50px;
	margin: 30px auto;
}	
.contact-form h1 {
	font-size: 42px;
	font-family: 'Pacifico', sans-serif;
	margin: 0 0 50px;
	text-align: center;
}
.contact-form .form-group {
	margin-bottom: 20px;
}
.contact-form .form-control, .contact-form .btn {
	min-height: 38px;
	border-radius: 2px;
}
.contact-form .form-control {
	border-color: #e2c705;
}
.contact-form .form-control:focus {
	border-color: #d8b012;
	box-shadow: 0 0 8px #dcae10;
}
.contact-form .btn-primary {
	min-width: 250px;
	color: #fcda2e;
	background: #000;
	margin-top: 20px;
	border: none;
}
.contact-form .btn-primary:hover {
	color: #fff; 
}
.contact-form .btn-primary i {
	margin-right: 5px;
}
.contact-form label {
	opacity: 0.9;
}
.contact-form textarea {
	resize: vertical;
}
.bs-example {
	margin: 20px;
}

.contact{
	background-color: #fbd100;
}





/*---------------------MAIN COROUSAL-------------------------------*/


#carousel .carousel-item.boat {
	background-image: url("../background/main_img.png");
}

#carousel .carousel-item.sea {
	background-image: url("../background/main_img.png");
}

#carousel .carousel-item.river {
	background-image: url("../background/main_img.png");
}

#carousel .carousel-item {
	overflow: hidden;
	height: 900px;
	width: 100%;
	min-height: 350px;
	background: no-repeat center center scroll;
	background-size: cover;
}

#carousel .carousel-inner .carousel-item {
	transition: -webkit-transform 2s ease;
	transition: transform 2s ease;
	transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption {
	margin-top: -200px;	
	background-color: transparent;
	padding: 40px;
	color: white;
	animation-duration: 1s;
	animation-delay: 2s;
	text-align: left;
	padding-left: 176px;
}

#carousel .caption h2 {
	font-size: 68px;
	text-shadow:4px 4px 5px #000;
	/*  font-weight: 700;*/
	line-height: 60px; !important;
	animation-duration: 1s;
	animation-delay: 2s;
}

#carousel .caption p {
	animation-duration: 1s;
	animation-delay: 2.2s;
}

#carousel .caption a {
	animation-duration: 1s;
	animation-delay: 2.4s;
}


.delicious-btn {
	display: inline-block;
	min-width: 160px;
	height: 60px;
	color: #ffffff;
	border: none;
	border-left: 3px solid #1c8314;
	border-radius: 0;
	padding: 0 30px;
	font-size: 16px;
	line-height: 58px;
	font-weight: 600;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	text-transform: capitalize;
	background-color: #40ba37;
}

.delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	background-color: #1c8314;
	border-color: #40ba37;
}





.offer_main_img{
	width: 440px;
	height: 260px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	border-radius: 8px;
}


.offer_main .col-md-4{
	padding: 0;
	max-width: 456px;
	height: auto;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 10px;

}

.offer_main .col-md-4:hover{

	box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);

}


.popular_offer_name1{

	color: #332323;
	position: absolute;
	top: 140px;
	left: 40px;
	line-height: 36px;
	font-size: 36px;

}

/*.popular_offer_name2{

  color: #332323;
  position: absolute;
  top: 160px;
  left: 40px;
}
*/

.popular_offer_price{
	color: #b59c54;
	position: absolute;
	font-size: 40px;
	top: 220px;
	left: 40px;

}

.popular_offer_price2{
	color: #fbd100;
	position: absolute;
	font-size: 40px;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);

}


.popular_offer_name3{

	color: #332323;
	position: absolute;
	top: 44px;
	left: 40px;
	line-height: 36px;
	font-size: 36px;

}


.square_icon{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*.popular_offer_name4{

  position: absolute;
  top: 80px;
  left: 22px;
  color: #419ac4;
}
*/
.popular_offer_p{

	position: absolute;
	top:200px;
	left: 40px;
}


.popular_product_name5{


	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 36px;
	font-size: 36px;

}

/*.popular_product_name6{

 position: absolute;
  top: 80px;
  left: 22px;
  color: #419ac4;
 

  }*/


  .main_banner{

  	position: relative;
  	z-index: 1000;
  }


  .offer_main{
  	margin-top: -50px;
  	padding: 0;
  }


  .sliding_gallery{
  	padding-bottom: 76px;
  }


  .main_div{

  	position: relative;
  	z-index: 2000;
  	margin-top: -450px;
  }


  /*----------------------OUR CLIENTS-----------------------------*/



  .our_clients{
  	padding-top: 66px;
  	border-radius: 10px;
  }


  #our_clients_div1{

  	padding: 40px;
  	background-color: #f5f6f8;
  	border-radius: 10px 0px 0px 10px;
  	height: 96px;
  }

  #our_clients_div1 h3{
  	text-align: center;
  	font-weight: 500;
  	font-size: 34px;

  }

  #our_clients_div2{
  	background-color: #f5f6f8;
  	border-radius: 0px 10px 10px 0px;
  	height: 96px;
  }





  /*----------------------------------SLIDER 1 css-------------------------------*/
  .main_lables{

  	font-size: 28px !important;
  	color: #ffffff;
  	position: absolute;
  	top: 48%;
  	left: 30px;
  	line-height: 28px;
  	font-size: 36px;
  	text-shadow:4px 4px 5px #000;

  }


  .explore_p{
  	font-size: 16px !important;
  	color: #ffffff;
  	position: absolute;
  	top: 82%;
  	left: 30px;
  	line-height: 28px;
  	font-size: 36px;
  	text-shadow:4px 4px 5px #000;
  }


  .explore_icon{
  	position: absolute;
  	bottom: 20px;
  	right: 30px;
  	width: 19px !important;
  }



  #owl_item{
  	width: 222px;
  	height: 252px;
  	margin: 0 auto;
  	position: relative;
  	background-color: #000000;
  }


  #owl_item:hover{
  	margin-top:-30px;
  	transition: 0.5s;
  }


  body .owl-carousel.owl-loading {
  	opacity: 1;
  	display: block;
  	text-align: center;
  }
  .framebox{
  	width: 95%;
  	margin: auto;
  	padding-top: 10px;
  }
  .owl-prev,.owl-next{
  	font-size: 30px;
  	background: #fbd100 ;
  	width: 50px;
  	height: 50px;
  	border-radius: 50%;
  	color: #000000;
  	border: 0;
  	margin: 7px;
  }


  .owl-prev:hover,.owl-next:hover,.owl-prev:focus,.owl-next:focus{
  	outline: none;
  	background-color: #ffffff;
  	border:2px solid #fbd100;

  }
  .owl-item {
  	border-radius: 4px;
  }
  a.item {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 50px;
  	color: #f00;
  	cursor: pointer;

  }
  .item:hover{
  	text-decoration-line: none;
  }

  body .owl-carousel .owl-dots, 
  body .owl-carousel .owl-nav {
  	display: block;
  	margin-top: 10px;
  	text-align: center;
  }
  .owl-dot{
  	display: none;
  }


  .item1{background-color: #ffffff;}
  .item2{background-color: #ffffff;}
  .item3{background-color: #ffffff;}
  .item4{background-color: #ffffff;}
  .item5{background-color: #ffffff;}
  .item6{background-color: #ffffff;}




  /*--------------------------------FAQ PAGE------------------------------*/


  .faq{

  	padding-top: 40px;
  	padding-bottom: 40px;
  }

  .faq h1{

  	font-weight: 700;
  	color: #fcd100;
  }



  /*-----------------------------CART PAGE------------------------------------*/

  #cart{

  	padding-top: 40px;
  	padding-bottom: 40px;
  }

  .cart_title{

  	padding: 20px;
  	background-color: #f5f6f8;
  }

  .cart_title h1{

  	font-weight: 700;
  }

  .cart_items{
  	padding: 20px;
  }



  .cart_img{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;

  	height: 380px;
  	max-width: 236px;
  	object-fit: cover;
  	border-radius: 8px;
  }


  #add{

  	border:1px solid #f5f6f8;
  	border-radius: 6px;
  	width: 60px;
  	background-color: #fbd100;
  }

  #add:hover{

  	border:1px solid #f5f6f8;
  	border-radius: 6px;
  	width: 60px;
  	color: #fcd100;
  	background-color: #000000;
  	transition: 0.5s;
  }


  #subtract{

  	border:1px solid #f5f6f8;
  	border-radius: 6px;
  	width: 60px;
  	background-color: #fbd100;

  }


  #subtract:hover{
  	border:1px solid #f5f6f8;
  	border-radius: 6px;
  	width: 60px;
  	color: #fcd100;
  	background-color: #000000;
  	transition: 0.5s;
  }

  #quantity{

  	border:none;
  }

  #remove_item{

  	margin-right: 20px;
  	border-radius: 6px;

  }

  #wishlist{

  	margin-right: 20px;
  	border-radius: 6px;

  }



  .checkout_proceed{
  	padding: 40px;
  }

  #checkout{
  	margin-top: 20px;
  	border:none;
  	border-radius: 6px;
  	background-color: #fbd100;
  	width: 180px;
  	height: 50px;

  }

  #checkout:hover{
  	margin-top: 20px;
  	border:1px solid #fbd100;
  	border-radius: 6px;
  	background-color: #000000;
  	color:#fbd100;
  	width: 180px;
  	height: 50px;


  }







  /*-------------------------------POLICY PAGE----------------------------------------*/





  .policy{

  	padding-top: 40px;
  	padding-bottom: 40px;
  }

  .policy_title{
  	padding: 20px;
  	background-color: #f5f6f8;
  }

  .policy_title h1{

  	font-weight: 700;
  }

  .policy_content{
  	padding: 20px;
  }




  /*-----------------------------------CHECKOUT-----------------------------------*/

  .checkout{

  	padding-top: 40px;
  	padding-bottom: 40px;
  }

  .checkout_title{

  	padding: 20px;
  	background-color: #fbd100;

  }

  .checkout_title h1{

  	font-weight: 700;
  }

  .checkout_details{

  	padding: 20px;
  	margin-top: 20px;
  }

  #checkout_final_btn{

  	border:none;
  	border-radius: 6px;
  	margin-top: 10px;
  	width: 200px;
  	height: 60px;
  	background-color: #fbd100;
  }

  #checkout_final_btn:hover{

  	border:1px solid #fbd100;
  	border-radius: 6px;
  	margin-top: 10px;
  	width: 200px;
  	height: 60px;
  	background-color: #000000;
  	color: #fbd100;
  	transition: 0.5s;
  }


  /*----------------------------------ORDERS---------------------------------------------*/

  .orders{

  	padding-top: 40px;
  	padding-bottom: 40px;

  }

  .orders_title{
  	padding: 20px;
  	background-color: #fbd100;
  }

  .orders_title h1{

  	font-weight: 700;
  }

  .order_items{
  	padding: 20px
  }



  /*----------------------------PROFILE------------------------------------*/

  .profile{

  	padding-top: 40px;
  	padding-bottom: 40px;
  }

  .profile_title{

  	padding: 20px;
  	background-color: #fbd100;
  }

  .profile_title h1{

  	font-weight: 700;
  }

  #img{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 160px;
  	height: 160px;
  	object-fit: cover;
  	border-radius: 50%;
  	border: 1px solid #4c4c4c;

  }

  #update_profile{

  	border:none;
  	border-radius: 6px;
  	width: 220px;
  	height: 60px;
  	margin-left: auto;
  	margin-right: auto;
  }

  #update_profile:hover{

  	border:1px solid #fbd100;
  	border-radius: 6px;
  	background-color: #000000;
  	color: #fbd100;
  	width: 220px;
  	height: 60px;
  	margin-left: auto;
  	margin-right: auto;
  }





  /*-----------------SLIDING FEATURED PRODUCTS CSS ----------------------------*/


  .carousel .carousel-item {
  	min-height: 330px;
  	text-align: center;
  	overflow: hidden;
  }

  .carousel .carousel-item .img-box {
  	height: 380px;
  	width: 100%;
  	position: relative;
  }
  .carousel .carousel-item img {	
  	max-width: 100%;
  	max-height: 100%;
  	display: inline-block;
  	position: absolute;
  	bottom: 0;
  	margin: 0 auto;
  	left: 0;
  	right: 0;
  }
  .carousel .carousel-item h4 {
  	font-size: 18px;
  	margin: 10px 0;
  }
  .carousel .carousel-item .btn {
  	color: #333;
  	border-radius: 0;
  	font-size: 11px;
  	text-transform: uppercase;
  	font-weight: bold;
  	background: none;
  	border: 1px solid #ccc;
  	padding: 5px 10px;
  	margin-top: 5px;
  	line-height: 16px;
  }
  .carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
  	color: #fff;
  	background: #000;
  	border-color: #000;
  	box-shadow: none;
  }
  .carousel .carousel-item .btn i {
  	font-size: 14px;
  	font-weight: bold;
  	margin-left: 5px;
  }
  .carousel .thumb-wrapper {
  	text-align: center;
  }
  .carousel .thumb-content {
  	padding: 15px;
  }
  .carousel-control-prev, .carousel-control-next {
  	height: 100px;
  	width: 40px;
  	background: none;
  	margin: auto 0;
  	background: rgba(0, 0, 0, 0.2);
  }
  .carousel-control-prev i, .carousel-control-next i {
  	font-size: 30px;
  	position: absolute;
  	top: 50%;
  	display: inline-block;
  	margin: -16px 0 0 0;
  	z-index: 5;
  	left: 0;
  	right: 0;
  	color: rgba(0, 0, 0, 0.8);
  	text-shadow: none;
  	font-weight: bold;
  }
  .carousel-control-prev i {
  	margin-left: -3px;
  }
  .carousel-control-next i {
  	margin-right: -3px;
  }
  .carousel .item-price {
  	font-size: 13px;
  	padding: 2px 0;
  }
  .carousel .item-price strike {
  	color: #999;
  	margin-right: 5px;
  }
  .carousel .item-price span {
  	color: #86bd57;
  	font-size: 110%;
  }	
  .carousel .carousel-indicators {
  	bottom: -50px;
  }
  .carousel-indicators li, .carousel-indicators li.active {
  	width: 10px;
  	height: 10px;
  	margin: 4px;
  	border-radius: 50%;
  	border-color: transparent;
  	border: none;
  }
  .carousel-indicators li {	
  	background: rgba(0, 0, 0, 0.2);
  }
  .carousel-indicators li.active {	
  	background: rgba(0, 0, 0, 0.6);
  }
  .star-rating li {
  	padding: 0;
  }
  .star-rating i {
  	font-size: 14px;
  	color: #ffc000;
  }





  .filter-button
  {
  	font-size: 18px;
  	border:none;
  	border-radius: 5px;
  	text-align: center;
  	color: #414141;
  	background-color:#ffffff ;
  	margin-bottom: 30px;

  }
  .filter-button:hover
  {
  	font-size: 18px;
  	border: 2px solid #fbd100;
  	border-radius: 5px;
  	text-align: center;
  	color: #000000;
  	background-color: #ffffff;

  }
  .filter-button.active
  {
  	background-color: #fbd100;
  	color: #414141;
  	color: white;
  }





  /*----------------------------TEXT POSITIONS------------------------------------*/




  .bottom-left {
  	position: absolute;
  	bottom: 8px;
  	left: 16px;
  }

  .top-left {
  	position: absolute;
  	top: 8px;
  	left: 16px;
  }

  .top-right {
  	position: absolute;
  	top: 8px;
  	right: 16px;
  }

  .bottom-right {
  	position: absolute;
  	bottom: 8px;
  	right: 16px;
  }

  .centered {
  	position: absolute;
  	top: 72%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  }

  .centered2 {
  	position: absolute;
  	top: 80%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  }



  /*------------------------ORDER CONFIRMATION--------------------------*/


  .order_conf_img{

  	border-radius: 8px;
  }

  .cancel_btn{

  	background-color: #ff5e62;
  	color: #ffffff;
  	border:none;
  	margin-top: 20px;
  }



/*---------------------------PROFILE---------------------------------------*/

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #eef2f3;
  background-color: #ffffff;
  padding: 0;
  margin-top: 40px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 30px;
  width: 100%;
  border: 1px solid #eef2f3;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #eff7fa;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #fbd100;
}

.tabcontent input{

	height: 50px;
}
